.vue-icon-wrapper {
  line-height: 1em;
  width: 1em;
  height: 1em;

  .vue-icon-svg {
    width: 1em;
    height: 1em;

  }

}

@for $i from 2 through 10 {
  .vue-icon-#{$i}x {
    transform: scale($i);
  }
}
