@import '../global.scss';
.vue-tab-item {
  flex-shrink: 0;
  padding: 0 1em;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.active {
    color: $waterBlue;
  }

  &.disabled {
    color: $disabled-text-color;
    cursor: not-allowed;
  }

  // Icon
  /* ali iconfont common css */
  > .vue-svg {
    width: 1em;
    height: 1em;
    margin: 0 .3em .1em auto;
    fill: currentColor;
    overflow: hidden;
    order: 1;

    &.-right {
      > .vue-svg {
        order: 2;
        margin-left: 0.3em;
        margin-right: 0;
        margin-top: 0.1em;
      }

      > .content {
        order: 1;
      }
    }
  }

  > .text {
    order: 2;
  }

}
