@import '../global.scss';

.vue-input-wrapper {
  font-size: $font-size;
  padding: 5px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;

  > :not(last-child) {
    margin-right: .5em;
  }

  .vue-label-item {
    display: inline-block;

    > input {
      height: $button-height;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      padding: 0 8px;
      font-size: inherit;

      &:read-write {
        background-color: $input-color;
      }

      &:hover, &.fake-hover {
        border: 1px solid $border-color-hover;
        border-radius: $border-radius;
        box-shadow: 0 0 0 1px var(--border-color-hover);
        background-color: $input-hover-color;
      }

      &:focus, &.fake-focus {
        box-shadow: inset 0 1px 3px $box-shadow-color;
        border-radius: $border-radius;
        background-color: $input-hover-color;
      }

      &:focus-visible {
        outline: none;
      }

      &[disabled],
      &:read-only {
        border-color: $disabled-color;
        color: $disabled-color;
      }

      &[disabled] {
        cursor: not-allowed;
        background-color: $input-hover-color;
      }

      &.error {
        border-color: $danger;
        border-width: 1px;

        &::-webkit-input-placeholder {
          color: $danger;
        }

        &:hover,
        &.fake-hover-error {
          border: 1px solid $border-color-hover-error;
          box-shadow: 0 0 0 1px $border-color-hover-error;
          background-color: $input-hover-color;
        }

        &:focus, &.fake-focus {
          border: 1px solid $border-color-hover-error;
          box-shadow: inset 0 1px 3px $box-shadow-color,
          0 0 0 1px $border-color-hover-error;
        }
      }
    }

    .vue-input-info {
      vertical-align: middle;
      display: inline-block;
      color: $danger;
      overflow: hidden;

      .vue-icon-error {
        fill: $danger;
      }

      ::v-deep > .vue-svg {
        width: 1.35em;
        height: 1.35em;
        vertical-align: -20%;
        margin-right: 0.2em;
        margin-left: 0.5em;
      }
    }
  }
}
