@import '../global';

.vue-tab-nav-wrapper {
  display: flex;

  .vue-tab-nav {
    align-items: center;
    border-bottom: 1px solid $hrline-color;
    display: flex;
    height: $tab-nav-height;
    justify-content: flex-start;
    max-width: 100%;
    position: relative;
    width: 100%;

    .vue-tab-line {
      bottom: 0;
      box-shadow: 0 1px 0 0 $water-blue;
      height: 1px;
      //outline: 1px solid $waterBlue;
      position: absolute;
      transition: all .3s;
    }

    > .vue-tab-actions-wrapper {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-left: 0;
      padding: 0 1em;
    }

  }

}
