$button-height: 32px;
$font-size: 14px;
$border-radius: 4px;
$button-bg: #fff;
$button-active-bg: #eee;
$color: #333;
$disabled-color: #bbb;
$input-color: #fff;
$input-hover-color: whitesmoke;
$border-color: #999;
$border-color-hover: #666;
$border-color-hover-error: #f1453d;
$primary: #0d6efd;
$danger: #ff4136;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$attention: #fd7e14;
$box-shadow-color: rgb(0, 0, 0, 0.5);
